<!--
 - Created by alexanderbelenov on 11.06.2022.
 -->

<!-- Log Table -->
<template>
  <div class="slds-box slds-theme_default">
    <div class="slds-text-heading_medium slds-text-align_center">Logs</div>
    <div>
      <lightning-datatable
        key-field="Id"
        hide-checkbox-column="true"
        data={logs}
        columns={columns}>
      </lightning-datatable>
    </div>
  </div>
</template>