<!--
 - Created by alexanderbelenov on 11.06.2022.
 -->

<!-- Batch Runner -->
<template>
  <div class="slds-box slds-theme_default">
    <div class="slds-text-heading_medium slds-text-align_center">Batch Runner</div>
    <div>
      <lightning-datatable
        key-field="Id"
        show-row-number-column="true"
        hide-checkbox-column="true"
        data={batches}
        columns={columns}
        onrowaction= {handleRowAction}
      >
      </lightning-datatable>
    </div>
  </div>
  <template if:true={modalBatchId}>
    <div class="slds-modal slds-fade-in-open slds-backdrop">
      <div class="slds-modal__container">
        <div class="slds-modal__content slds-p-around_medium">
          <c-log-table context-id={modalBatchId}></c-log-table>
        </div>
        <div class="slds-modal__footer">
          <lightning-button icon-name="utility:close" label="close" variant="brand" onclick={closeModal}>
          </lightning-button>
        </div>
      </div>
    </div>
  </template>
</template>